    <div class="sidebar" data-color="purple" data-background-color="white">
      <div class="logo">
        <a href="https://www.nsoc.fr" class="simple-text logo-normal">
          <div class="logo-small">
            <img class="img" src="/static/assets/img/logonsoc.png" />
          </div>
        </a>
      </div>
      {% if user.is_authenticated %}
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item {% if 'quick_search' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'quick_search' %}">
              <i class="material-icons">search</i>
              <p>Recherche Rapide</p>
            </a>
          </li>
          <li class="nav-item {% if 'client' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'show_client' %}">
              <i class="material-icons">emoji_people</i>
              <p>Clients</p>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
