{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} <!-- <link href="/static/assets/css/custom.css" rel="stylesheet"/>  -->{% endblock stylesheets %}

{% block content %}
    <button class="btn btn-round" data-toggle="modal" data-target="#loginModal">
    Créer un client<i class="material-icons">emoji_people</i>
    </button>

    <div class="row">
      {% for client in clients %}
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-profile">
          <div class="image">
            <img src="/static/assets/img/nsocman.png" alt="...">
          </div>
          {%if client.logoname %}
          <div class="card-avatar">
            <img class="img" src="/static/assets/img/logoclient/{{ client.logoname }}" />
          </div>
          {% else %}
          <div class="card-avatar">
            <img class="img" src="/static/assets/img/logoclient/new_logo.png" />
          </div>
          {% endif %}
          <div class="card-body">
            <form action="{% url 'show_controle_continu' %}" method="POST">
              {%csrf_token %}
                <button type="submit" class="btn btn-success btn-round text-center">
                  <h4 class="nomclient"> {{ client.name_client }} </h4>
                </button>
                <input type="hidden" name="client_id" value="{{ client.id_client }}">
            </form>
            <h5>{{ client.description }}</h5>
          </div>
        </div>
      </div>          
      {% endfor %}  
    </div>

    <div class="modal fade" id="loginModal" tabindex="-1" role="">
      <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
          <div class="card card-signup card-plain">
            <form class="form" action="{% url 'show_client' %}" method="POST">
              {%csrf_token %}
              <div class="modal-header">
                <div class="card card-header-primary text-center">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                  </button>
                  <h4 class="card-title">Enregistrer un nouveau client</h4>
                </div>
              </div>
              <div class="modal-body">
                  <div class="card-body">
                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="material-icons">business</i></div>
                        </div>
                        <!-- <input type="text" class="form-control" placeholder="Nom du client" required> -->
                        {{ form.name }}
                      </div>
                    </div>

                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="material-icons">description</i></div>
                        </div>
                        <!-- <input type="text" class="form-control" placeholder="Description"> -->
                        {{ form.description }}
                      </div>
                    </div>

                    <div class="form-group bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="material-icons">insert_photo</i></div>
                        </div>
                        <!-- <input type="text" placeholder="Nom du logo" class="form-control"> -->
                        {{ form.logoname }}
                      </div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer justify-content-center">
                <button type="submit" class="btn btn-success btn-round text-center">Valider</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
