{% extends "layouts/base.html" %}

{% block title %} Controle Continu {% endblock %} 

{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
            
          <div class="row">
            <div class="tim-typo col-lg-8 col-md-8">
              <h1>Controle Continu de {{ client.name_client }} </h1>
            </div>
            <div class="col-lg-4 col-md-4">
              <form action="{% url 'show_controle_continu' %}" method="POST">
                {%csrf_token %}
                <div class="pull-right">
                  <div class="row">
                    <button type="submit" class="btn btn-sm" name="download_file_delta">
                      <i class="material-icons">file_download</i> Liste des delta
                    </button>
                  </div>
                  <div class="row">
                    <button type="submit" class="btn btn-sm" name="download_file_subdomain">
                      <i class="material-icons">file_download</i> Liste des sous-domaines
                  </button>
                  </div>
                  <div class="row">
                    <button type="submit" class="btn btn-sm" name="download_file_port">
                      <i class="material-icons">file_download</i> Liste des ports ouvert
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          {% if  information != "" %}
          <div class="row">
            <div class="text-info text-center">
              <h3> {{ information }} </h3>
            </div>
          </div> 
          {% endif %} 
          <div class='progress-wrapper'>
            <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
          </div>
          <div id="progress-bar-message" class="text-center">
            <h3>En attente de lancement d'un scan Sublist3r ou Nmap...</h3>
          </div>
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Recherche de sous-domaines</h4>
                  <!--<p class="card-category">Complete your profile</p>-->
                </div>
                <div class="card-body">
                  <form action="{% url 'show_controle_continu' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6 ">
                        <div class="form-group form-file-upload form-file-multiple">
                          <input type="file" multiple="" class="inputFileHidden" name="file_domain">
                          <div class="input-group">
                              <input type="text" class="form-control inputFileVisible" placeholder="Liste des domaines">
                              <span class="input-group-btn">
                                  <button type="button" class="btn btn-fab btn-round btn-primary">
                                    <i class="material-icons">attach_file</i>
                                  </button>
                              </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-success pull-right" name="sublist3r">Lancer Sublist3r</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <span class="input-group-btn">
                <form action="{% url 'show_controle_continu' %}" method="POST">
                  {%csrf_token %}
                  <button id="refresh" type="submit" class="btn btn-round btn-default">
                    <i class="material-icons">refresh</i>
                  </button>
                  <input type="hidden" name="client_id" value="{{ client.id_client }}">
                </form>    
              </span>
            </div>  
          </div>
          <div class="row">
          <div class="col-lg-5 col-md-12">
            <div class="card">
              <div class="card-header card-header-tabs card-header-info">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <span class="nav-tabs-title">Listes :</span>
                    <ul class="nav nav-tabs" data-tabs="tabs">
                      <li class="nav-item">
                        <a class="nav-link active" href="#delta" data-toggle="tab">
                          <i class="material-icons">change_history</i> Liste Delta : {{ list_delta|length }}
                          <div class="ripple-container"></div>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#base" data-toggle="tab">
                          <i class="material-icons">playlist_add_check</i> Liste Référence : {{ list_base|length }}
                          <div class="ripple-container"></div>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#ban" data-toggle="tab">
                          <i class="material-icons">cancel</i> Liste Exclusion : {{ list_ban|length }}
                          <div class="ripple-container"></div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="delta">
                    <form action="{% url 'show_controle_continu' %}" method="POST">
                      {%csrf_token %}
                      <table class="table"> 
                        <thead class="text-info">
                          <th>Nom de l'asset</th>
                          <th>Type</th>
                          <th>Référence/Exclusion</th> 
                        </thead>
                        <tbody>
                          {% for delta in list_delta %}
                          <tr>
                            <td>{{ delta.name_asset }}</td>
                            <td>{{ delta.data_type }}</td>
                            <td class="td-actions text-right">
                              <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="radio" name="radio_{{ delta.id_asset}}" id="inlineRadio1" value="to_base">
                                    <i style = "color:green;" class="material-icons">check</i>
                                  <span class="circle">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="radio" name="radio_{{ delta.id_asset}}" id="inlineRadio2" value="to_ban">
                                    <i style = "color:red;" class="material-icons">close</i>
                                  <span class="circle">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>   
                      </table>
                      <button type="submit" title="Changer les assets de liste" name="change_list" value="over" onclick="md.showNotification_list('bottom','right', 'success', 'Scan lancé')" class="btn btn-success pull-right">Valider les changements
                      </button>
                    </form>
                  </div>
                  <div class="tab-pane" id="base">
                    <table class="table">
                      <thead class="text-info">
                        <th>Nom de l'asset</th>
                        <th>Type</th>
                        <th>Vers liste d'exclusion</th> 
                      </thead>
                      <tbody>
                        {% for base in list_base %}
                        <tr>
                          <form action="{% url 'show_controle_continu' %}" method="POST">
                            {%csrf_token %}
                            <td>{{ base.name_asset }}</td>
                            <td>{{ base.data_type }}</td>
                            <td class="td-actions text-right">
                              <button type="submit" rel="tooltip" title="Déplacer dans la liste d'exclusion" name="to_list_ban" value="{{ base.id_asset }}" onclick="md.showNotification_list('bottom','right', 'danger', '{{ base.name_asset }} déplacé dans la liste de référence')" class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">east</i>
                              </button>
                            </td>
                          </form>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                      <form action="{% url 'show_controle_continu' %}" method="POST">
                      {%csrf_token %}  
                      <button type="submit" title="Lancer un scan" name="dig_nmap" onclick="md.showNotification_list('bottom','right', 'success', 'Scan lancé')" class="btn btn-success pull-right">Lancer un Dig + Nmap depuis la liste de référence
                      </button>
                    </form>
                  </div>
                  <div class="tab-pane" id="ban">
                    <table class="table">
                      <thead class="text-info">
                        <th>Nom de l'asset</th>
                        <th>Type</th>
                        <th>Vers liste de référence</th> 
                      </thead>
                      <tbody>
                        {% for ban in list_ban %}
                        <tr>
                          <form action="{% url 'show_controle_continu' %}" method="POST">
                            {%csrf_token %}  
                            <td>{{ ban.name_asset }}</td>
                            <td>{{ ban.data_type }}</td>
                            <td class="td-actions text-right">
                              <button type="submit" rel="tooltip" title="Déplacer dans la liste de référence" name="to_list_base" value="{{ ban.id_asset }}" onclick="md.showNotification_list('bottom','right', 'success', '{{ ban.name_asset }} déplacé dans la liste de référence')" class="btn btn-success btn-link btn-sm">
                                <i class="material-icons">west</i>
                              </button>
                            </td>
                          </form>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                  <div class="card-header card-header-danger">
                    <h4 class="card-title">Liste des ports ouverts : {{ list_port|length }}</h4>
                  </div>
                  <div class="card-body table-responsive">
                    <table class="table table-hover">
                      <thead class="text-danger">
                        <th>Numéro de port</th>
                        <th>Protocole</th>
                        <th>ID de Scan</th> 
                      </thead>
                      <tbody>
                        {% for port in list_port %}
                        <tr>
                          <td>{{ port.num }}</td>
                          <td>{{ port.protocol }}</td>
                          <td>{{ port.scan }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="card">
                  <div class="card-header card-header-warning">
                    <h4 class="card-title">Historique des scans : {{ scan_history|length }} </h4>
                  </div>
                  <div class="card-body table-responsive">
                    <table class="table table-hover">
                      <thead class="text-warning">
                        <th>ID de Scan</th>
                        <th>Date</th>
                      </thead>
                      <tbody>
                        {% for scan in scan_history %}
                        <tr>
                          <td>{{ scan.id_scan }}</td>
                          <td>{{ scan.date }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>

<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
{% if task_id %}
<script>
  // vanilla JS version
  document.addEventListener("DOMContentLoaded", function () {
  var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
  CeleryProgressBar.initProgressBar(progressUrl);
  });
</script>
{% endif %}

<!-- <script>
  document.querySelector("#refresh").addEventListener("click", event => {
    console.log('oui')

    let formData = new FormData();
    formData.append('client_id', {{ client.id_client }});

    let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;

    const request_assets = new Request('{% url "get_assets" %}', {
        method: 'POST',
        body: formData,
        headers: {'X-CSRFToken': csrfTokenValue},  // On ajoute le token dans l'en-tête
    });

    const request_ports = new Request('{% url "get_ports" %}', {
        method: 'POST',
        body: formData,
        headers: {'X-CSRFToken': csrfTokenValue},  // On ajoute le token dans l'en-tête
    });

    fetch(request_assets)
      .then(response => response.json())
      .then(result => {
        // Convert as javascript object
        let data = JSON.parse(result)

        console.log(data)
      })

    fetch(request_ports)
      .then(response => response.json())
      .then(result => {
        console.log(result)
        // Convert as javascript object
        let data = JSON.parse(result)

        console.log(data)
      })
  })
</script> -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
